/* Base Application Styles */
body {
	background-color: #727272;
}
.index img {
  margin: 40px auto;
  border-radius: 4px;
  background: #fff;
  display: block;
}

.content {
  padding: 25px;
  color: #000;
  margin: 0 auto;
  width: 300px;
}

a {
	text-decoration: none;
}
.main {
  position:   relative;
  margin:    0 auto;
  text-align: center;
  padding:   10px;
}